doctype html
html(lang="")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
		title Index
	body

		div(class='grid-container')
			div(class='header')
				h1 Placeholder Title Babey

			div(class='left')

			div(class='content')
				ul
					each article, key in articles
							- let day = article.date.getDate()
							- let month = article.date.getMonth() + 1
							- let year = article.date.getFullYear()
							- let datePosted = day + "/" + month + "/" + year
							li(id= key): a(class='index-link' href="/articles/" + article.id) #{article.title} #{datePosted}
							

			div(class='right')

			div(class='footer')
				h4: a(class="footer-link" href="/") I Just Have Thoughts About Games 2021

