body {
	background-color: #f9f8ff;
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
	grid-area: header;
	background-color: darkslategrey;
	color: lightgrey;
	padding: 20px;
	padding-left: 5%;
	text-align: left;
}

.grid-container {
	display: grid;
	grid-auto-columns: minmax(50px, auto);
	grid-template-areas: 
		'header header header header header'
		'left content content content right'
		'footer footer footer footer footer';
}

.left {
	grid-area: left;
}

.content {
	grid-area: content;
	color: darkslategrey;
}

.right {
	grid-area: right;
}

.footer {
	grid-area: footer;
	background-color: darkslategrey;
	color: lightgrey;
	padding: 10px;
	padding-right: 5%;
	text-align: right;
}

.left, .right {
	background-color: darkslategrey;
	margin-top: 2%;
	margin-bottom: 2%;
}

ul {
	list-style: none;
}

li {
	margin: 1%;
	padding: 0.5%;
	background-color: lightgrey;
}

.index-link {
	color: darkslategrey;
	text-decoration: none;
	margin: 1%;
}

.footer-link {
	color: lightgrey;
	text-decoration: none;
}

article {
	margin: 3%;
	padding: 0.5%;
	color: #272727;
}